<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index View</title>
  </head>
  <body>
    <h1>This is page is renderd by : <%= tool %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure minima sunt
      eos incidunt qui officiis fuga eligendi aliquam rerum pariatur maxime
      nulla dignissimos, laboriosam consequuntur nostrum dolores ex quae tempore
      repellat at facilis? Laborum facilis, nam hic sunt totam possimus culpa
      quae incidunt quo eaque optio placeat nemo expedita ratione blanditiis
      error recusandae soluta? Perferendis eaque quaerat blanditiis quam
      repudiandae, eligendi possimus corporis incidunt odio voluptatum quae
      facilis! Nihil error temporibus eius? Asperiores alias rem dolores animi
      eaque aperiam quia nostrum libero, autem cumque ut cum modi qui quos ex
      consequatur nisi perspiciatis. Qui corrupti quibusdam quisquam architecto
      ut nobis.
    </p>
  </body>
</html>
