<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index View</title>
    <meta name="color-scheme" content="dark" />
  </head>
  <body>
    <h1>Query String</h1>
    <hr />
    <p><%= q === "" ? "Empty Query" : q %></p>
  </body>
</html>
